.grid {
  display: grid;
  grid-template-columns: repeat( 2, 100px);

  width: 200px;
  height: 50px;
  gap:10px;
}
.flex p{
  flex: 0 1 100px  ;
}
.transform{
  width: 125px;
  transition: color 1s;
}
.transform:hover {
  transform: scale(1, 2);
  color: green;
  background: linear-gradient( yellow, red );
}
