.child-dec {
  display: flex;
  margin : 10px 10px;
  padding : 5px;
  width : fit-content;
  height: 60px;
  border: solid 2px black;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
