<div class="block">
  <nav>
    <a
      [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
  </nav>
  <nav>
    <a
      [routerLink]="['/blue']" routerLinkActive="active">Blue</a>
  </nav>
  <nav>
    <a
      [routerLink]="['/purple']" routerLinkActive="active">Purple</a>
  </nav>
  <nav>
    <a
      [routerLink]="['/black']" routerLinkActive="active">Black</a>
  </nav>
  <nav>
    <a
      [routerLink]="['/red']" routerLinkActive="active">Red</a>
  </nav>
  <nav>
    <a
      [routerLink]="['/green']" routerLinkActive="active">Green</a>
  </nav>
  <nav>
    <a
      [routerLink]="['/calculator']" routerLinkActive="active">Calculator</a>
  </nav>
  <nav>
    <a
      [routerLink]="['/decorators']" routerLinkActive="active">Decorators</a>
  </nav>
  <nav>
    <a
      [routerLink]="['/view-styles']" routerLinkActive="active">View-Styles</a>
  </nav>
  <nav>
    <a
      [routerLink]="['/post-list']" routerLinkActive="active">Post List</a>
  </nav>
  <nav>
    <a
      [routerLink]="['/app-child']" routerLinkActive="active">Child</a>
  </nav>
</div>
<router-outlet></router-outlet>
